.header {
  text-align: center;
}

.wrapper-square {
  display: grid;
  margin-left: calc(50vw - 150px);
}

.row {
  display: flex;
}

.rules {
  position: absolute;
  width: 100px;
  top: 70px;
  left: calc(50vw - 300px);
}

.pole {
  height: 100px;
  width: 100px;
  border: solid black 1px;
  cursor: pointer;
  text-align: center;
  font-size: 70px;
}

.results {
  position: absolute;
  display: grid;
  top: 80px;
  right: calc(50vw - 300px);
}

.space {
  height: calc(100vh - 500px);
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-link {
  width: 100px;
  color: black;
}

.logo1 {
  background: url(assets/icon/RS.png) no-repeat;
  background-size: auto 100%;
  width: 300px;
  height: 100px;
}
@media (max-width: 600px) {
  .rules {
    left: calc(50vw - 250px);
  }
}
